# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
# Blocks
!web/app/plugins/schedule*
!web/app/plugins/mint-vernetzt*

web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Deployer
deployer/inventory.yml

# Dumpfiles
dump.sql.gz
